.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0px 10px; /* verical:0px horizontal:10px gap btw each rows*/
    grid-auto-rows:300px; /*each row has 10px height*/
}

